<!DOCTYPE html>

{%extends 'portal/base.html'%}
{%block title%}Home{%endblock%}

{%block body%}
{%load static%}
<style type="text/css">

	.text{
		margin-left: 400px;
		margin-right: 50px;
		
	}
</style>
<div class="im">
	<a href="#"><img  src="{% static 'image/krishna1.png' %}"   width="400" height="" ></a>


</div>

<div class="text">
	<h1 align="">WHO AM I? <br> I am Krishna Aryan</h1>
<p>I am a computer grad student from RITS Bhopal.I love exploring new technologies </p>
<p>I have started reflecting my ideas and thougths through the medium of words </p>
<hr>
	<div class="row">
      <div class="col-md-4">
       
        <h3>HERE ARE SOME OF MY EXPERTISE</h3>
        <hr>
       <h4>WEB DEVELOPMENT</h4>
	<p>I have experience building websites and chrome extentions using Django,pthon,HTML,CSS</p>




      </div>
      <hr>



</div>
<h3>Undergraduation at RITS Bhopal 2015-2019</h3>
        
       
		<p>I am pursuing my under-graduation studies(Computer Science Engineering). I have taken courses like DS,GD,CD OOPs, Computer Networks, IOT, Web-Data Management over the years and have better understanding of these subjects.</p><hr>

<h3>Primary and Higher Education 2003-2015</h3>
        
       
		<p>I have completed my higher secondary education with major subjects as Physics,Chemistry & Maths with 77% merit. During my time at school, I have developed interest in solving complex problems of the fundamental physics which helped me to improve my understanding of any problem and also my mathematical skills to actually solve the problems.</p>
{%endblock%}