<!DOCTYPE html>

{%extends 'portal/base.html'%}
{%block title%}State{%endblock%}

{%block body%}

<style>

table, th, td {
  border: 0px solid black;
}






.cities {
  background-color: Pink;
  color: DarkBlue;
  margin: 20px;
  padding: 20px;
  height: 100px;
  width: 480px;
}
</style>
<h1>India Coronavirus update.......</h1>

<table style="width:100%">
  



  <tr>
    <td><div>



<div class="cities">
<h2>Arunachal Pradesh</h2>
<a href="/webapp2/Arunachal_Pradesh"><p>Latest update</p></a>
</div> 

<div class="cities">
<h2>Andhra</h2>
<a href="/webapp2/Andhra"><p>Latest update</p></a>
</div>

<div class="cities">
<h2>Assam</h2>
<a href="/webapp2/Assam"><p>Latest update</p></a>
</div>
</div></td>

    <td><div>





<div class="cities">
<h2>Bihar</h2>
<a href="/webapp2/Bihar"><p>Latest update</p></a>
</div> 

<div class="cities">
<h2>Chhattishgarh</h2>
<a href="/webapp2/Chhattishgarh"><p>Latest update</p></a>
</div>

<div class="cities">
<h2>Goa</h2>
<a href="/webapp2/Goa"><p>Latest update</p></a>
</div>
</div></td>
    <td><div>





<div class="cities">
<h2>Gujarat</h2>
<a href="/webapp2/Gujarat"><p>Latest update</p></a>
</div> 

<div class="cities">
<h2>Haryana</h2>
<a href="/webapp2/Haryana"><p>Latest update</p></a>
</div>

<div class="cities">
<h2>Himachal Pradesh</h2>
<a href="/webapp2/Himachal_Pradesh"><p>Latest update</p></a>
</div>
</div></td>
  </tr>
  
<table style="width:100%">
  

  <tr>
    <td><div>





<div class="cities">
<h2>Jammu and Kashmir</h2>
<a href="/webapp2/Jammu_and_Kashmir"><p>Latest update</p></a>
</div> 

<div class="cities">
<h2>Jharkhand</h2>
<a href="/webapp2/Jharkhand"><p>Latest update</p></a>
</div>

<div class="cities">
<h2>Karnattaka</h2>
<a href="/webapp2/Karnattaka"><p>Latest update</p></a>
</div>
</div></td>

    <td><div>





<div class="cities">
<h2>Kerla</h2>
<a href="/webapp2/Kerla"><p>Latest update</p></a>
</div> 

<div class="cities">
<h2>Madhya Pradesh</h2>
<a href="/webapp2/Madhya_Pradesh"><p>Latest update</p></a>
</div>

<div class="cities">
<h2>Manipur</h2>
<a href="/webapp2/Manipur"><p>Latest update</p></a>
</div>
</div></td>
    <td><div>







<div class="cities">
<h2>Meghalaya</h2>
<a href="/webapp2/Meghalaya"><p>Latest update</p></a>
</div> 

<div class="cities">
<h2>Mizoram</h2>
<a href="/webapp2/Mizoram"><p>Latest update</p></a>
</div>

<div class="cities">
<h2>Nagaland</h2>
<a href="/webapp2/Nagaland"><p>Latest update</p></a></div>
</div></td>
  </tr>
  <tr>


 

<table style="width:100%">
 

  <tr>
    <td><div>





<div class="cities">
<h2>Odisha</h2>
<a href="/webapp2/Odisha"><p>Latest update</p></a>
</div> 

<div class="cities">
<h2>Punjab</h2>
<a href="/webapp2/Punjab"><p>Latest update</p></a>
</div>

<div class="cities">
<h2>Rajasthan</h2>
<a href="/webapp2/Rajasthan"><p>Latest update</p></a>
</div>
</div></td>

    <td><div>





<div class="cities">
<h2>Sikkim</h2>
<a href="/webapp2/Sikkim"><p>Latest update</p></a>
</div> 

<div class="cities">
<h2>Tamil Nadu</h2>
<a href="/webapp2/Tamil_Nadu"><p>Latest update</p></a>
</div>

<div class="cities">
<h2>Telangana</h2>
<a href="/webapp2/Telangana"><p>Latest update</p></a>
</div>
</div></td>
    <td><div>






<div class="cities">
<h2>Tripura</h2>
<a href="/webapp2/Tripura"><p>Latest update</p></a>
</div> 

<div class="cities">
<h2>Uttar Pradesh</h2>
<a href="/webapp2/Uttar_Pradesh"><p>Latest update</p></a></div>

<div class="cities">
<h2>Uttarakhand</h2>
<a href="/webapp2/Uttarakhand"><p>Latest update</p></a>
</div>
</div></td>
  </tr>
  


<tr>
    <td><div>



<div class="cities">
<h2>West Bengal</h2>
<a href="/webapp2/West_Bengal"><p>Latest update</p></a>
</div> 

</div>
</div></td>






</table>





{%endblock%}