<!DOCTYPE html>

{%extends 'portal/base.html'%}
{%block title%}Arunachal Pradesh{%endblock%}

{%block body%}
<style type="text/css">
body{
	background-color: LightGray;
}
	
	.case{
		margin-top: 0px;
	}

	.number{
		color: red;
	}

	.heading{
		margin-left: 40px;
		margin-top:30px;
	}

	.death{
		color: red;
	}

	.Recovered{
		color: green;
	}

	.text{
		margin-top: 50px;
	}

</style>

<div class="heading">
	<h3>This is all case of (COVID-19) Arunachal Pradesh.....</h3>
</div>
<hr>


<div class="case">
<h1 align="center">Coronavirus Cases (COVID-19):</h1>

</div>

<div class="number">
	<h1 align="center">01</h1>
</div>

<div class="">
	<h1 align="center">Deaths:</h1>
</div>

<div class="death">
	<h1 align="center">0</h1>
</div>


<div class="">
	<h1 align="center">Recovered:</h1>
</div>

<div class="Recovered">
	<h1 align="center">0</h1>
</div>



<div class="time">
	
	<h5 align="center">Last Update- 1:49 Pm   28/04/2020</h5>
	<h5 align="center"></h5>
</div>
<hr>

<div class="text">
	<h4><p>The novel coronavirus or COVID-19 has spread its deadly footprint across India, causing a situation of panic and dismay all over the country. Till, April 14, 2020, India has registered more than 10,000 confirmed patients and has witnessed 325 death...<br><br><br>

Read more at: https://www.deccanherald.com/national/east-and-northeast/coronavirus-in-arunachal-pradesh-total-number-of-covid-19-positive-cases-deaths-on-april-14-2020-823492.htmlThe novel coronavirus or COVID-19 has spread its deadly footprint across India, causing a situation of panic and dismay all over the country. Till, April 14, 2020, India has registered more than 10,000 confirmed patients and has witnessed 325 death...<br><br><br>

Read more at: https://www.deccanherald.com/national/east-and-northeast/coronavirus-in-arunachal-pradesh-total-number-of-covid-19-positive-cases-deaths-on-april-14-2020-823492.html</p></h4>

</div>


{%endblock%}