<!DOCTYPE html>

{%extends 'portal/base.html'%}
{%block title%}Arunachal Pradesh{%endblock%}

{%block body%}
<style type="text/css">
body{
	background-color: LightGray;
}
	
	.case{
		margin-top: 0px;
	}

	.number{
		color: red;
	}

	.heading{
		margin-left: 40px;
		margin-top:30px;
	}

	.death{
		color: red;
	}

	.Recovered{
		color: green;
	}

	.text{
		margin-top: 50px;
		margin-left: 40px;
		margin-right: 40px; 
	}

	

</style>

<div class="heading">
	<h3>This is all case of (COVID-19) Bihar.....</h3>
</div>
<hr>


<div class="case">
<h1 align="center">Coronavirus Cases (COVID-19):</h1>

</div>

<div class="number">
	<h1 align="center">346</h1>
</div>

<div class="">
	<h1 align="center">Deaths:</h1>
</div>

<div class="death">
	<h1 align="center">02</h1>
</div>


<div class="">
	<h1 align="center">Recovered:</h1>
</div>

<div class="Recovered">
	<h1 align="center">98</h1>
</div>



<div class="time">
	
	<h5 align="center">Last Update- 1:49 Pm   28/04/2020</h5>
	<h5 align="center"></h5>
</div>
<hr>

<div class="text">
<h4><p>COVID-19 : पटना में छह नए मरीज, पूर्णिया-दरभंगा और मधुबनी में भी संक्रमण, 346 पहुंचा आंकड़ा</p></h4>
<h4><p>बिहार में सोमवार को कोरोना से पीड़ित 69 नए मरीजों की पहचान की गई। ये राज्य में एक दिन में पहचाने गए मरीजों की सर्वाधिक संख्या है। इनमें छह पटना के हैं। राज्य में अब कोरोना वायरस के संक्रमण से प्रभावित जिलों की संख्या 22 से बढ़कर 25 हो गई है। सोमवार को पहली बार मरीज मिलने के बाद पूर्णिया, मधुबनी और दरभंगा भी कोरोना प्रभावित जिले बन गए। बिहार में अबतक कुल 346 कोरोना के मरीजों की पहचान की जा चुकी है।</p></h4>


<h4><p>स्वास्थ्य विभाग से मिली जानकारी के अनुसार सोमवार को सबसे ज्यादा 22 मरीज मुंगेर के जमालपुर में मिले। रोहतास में 16, मधुबनी में 5, लखीसराय में 3, औरंगाबाद में 5, भोजपुर में 7 और नालंदा, सारण, नवादा, दरभंगा तथा पूर्णिया में 1-1 कोरोना पीड़ित की पहचान की गई है।</p></h4>

<h4><p>पटना में जिन मरीजों की रिपोर्ट पॉजिटिव आई है उनमें नौबतपुर के दो साल के बच्चे के अलावा राजाबाजार की मछली गली के दो तथा न्यू पाटलिपुत्रा कॉलोनी, फुलवारी व बीपीएससी के निकट रहने वाला एक-एक शख्स शामिल है। विभाग के प्रधान सचिव संजय कुमार ने बताया कि मुंगेर में सोमवार को पहली रिपोर्ट में 13 और दूसरी में 9 मरीजों की पहचान की गई। पहली रिपोर्ट में 8 महिलाओं और 5 पुरुषों में कोरोना के वायरस की पुष्टि जांच के बाद हुई। इनमें 15 से 40 वर्ष की महिलाएं और 19 से 40 वर्ष के पुरुष शामिल हैं। इसी प्रकार, दूसरी में 4 महिलाएं और 5 पुरुष शामिल हैं। मधुबनी में पहली बार कोरोना के मरीज सामने आए है। 5 मरीजों में 3 पुरुष और 2 महिलाएं शामिल हैं। इनमें पुलिस लाइन निवासी एक की शख्स भी है जिसकी उम्र 27 वर्ष है।</p></h4>

<h4><p><b>मुंगेर राज्य का सबसे बड़ा हॉट स्पॉट बना</b><br>
प्रधान सचिव ने बताया कि मुंगेर के सभी 22 नए मरीज जमालपुर स्थित सदर बाजार के रहने वाले हैं। अब तक मुंगेर में सर्वाधिक 90 मरीजों की पहचान की जा चुकी है और ये सबसे बड़े कोरोना हॉट स्पॉट के रूप में उभरा है। सूत्रों के अनुसार यहां कोरोना के संक्रमण के विस्तार में विदेश से आए मृत हो चुके मरीज मो. कैफ और एक अन्य कोरोना पीड़ित का सबसे बड़ा योगदान है। इन्होंने अकेले इस चेन को 51 तक पहंुचा दिया। स्थानीय स्तर पर बाहर से आए जमातियों के माध्यम से भी संक्रमण फैला।</p></h4><hr>

<h4><p><b>कहां कितने मरीज</b><br>

1.मुंगेर- 90<br>
2.नालंदा- 35<br>
3.पटना- 39<br>
4.रोहतास- 31<br>
5.सीवान- 30<br>
6.बक्सर- 25<br>
7.कैमूर- 14<br>
8.गोपालगंज- 12<br>
9.भोजपुर 09<br>
10.बेगूसराय- 09<br>
11.औरंगाबाद- 07<br>
12.गया- 06<br>
13.पू. चंपारण- 05<br>
14.मधुबनी- 05<br>
15.भागलपुर- 05<br>
16.नवादा- 04<br>
17.लखीसराय- 04<br>
18.अरवल- 04<br>
19.सारण- 04<br>
20.बांका- 02<br>
21.वैशाली- 02<br>
22.जहानाबाद- 01<br>
23.दरभंगा- 01<br>
24.पूर्णिया- 01<br>
25.मधेपुरा- 01</p></h4>



{%endblock%}